$text-color: #333333;
$blue: #0090bb;
$light-blue: #00b9e2;
$dark-blue: #3363b9;
$darker-blue: #002e63;
$green: #94ca55;
$orange: #de7c27;
$red: #df532a;
$light-gray: #8b8b8b;
$dark-gray: #666666;
$gray: #cecece;

$link-color: #48b5e4;

$black: #000;
